.homepage {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(3.75deg, #EE4848 -19.99%, rgba(0, 26, 255, 0.67) 119.98%, rgba(0, 26, 255, 0) 119.99%);
}

.homepage > h1 {
    position: absolute;

    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 169px;
    color: #FFFFFF;
}

.note > button {
    background: linear-gradient(122.19deg, #383737 1.89%, #170757 113.56%);
    font-size: 15px;
    margin-top: 10px;
    margin-left: 0.5%;
    width: 4%;
    font-family: 'JetBrains Mono', monospace;
    font-weight: normal;
    color: white;
}

.inputnote {
    margin: auto;
    display: block;
    top: 20px;
    outline: none;
    border: none;
    width: 982px;
    height: 124px;
    font-size: 25px;
    padding: 5px 20px;
}

.addNote{
    margin: auto;
    display: block;
    top: 20px;
    outline: none;
    border: none;
    width: 400px;
    height: 50px;
    font-size: 25px;
    padding: 5px 20px;
}

.note{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.note > h2 {
    margin-left: 1%;
    color: aliceblue;
}

.logout {
    cursor: pointer;
    width: 10%;
    position: absolute;
    top: 10px;
    left: 87%;
    padding: 20px;
    background: red;
    color: white;
  }