* {
   margin: 0;
   padding: 0;
}

/** Login **/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*,
*:before,
*:after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: #080710;
}

button {
   background: linear-gradient(122.19deg, #420472 1.89%, #6c1734 113.56%);
   border-radius: 10px;
   padding: 5px 5px;
   font-size: 15px;
   margin-top: 2px;
   font-family: 'JetBrains Mono', monospace;
   font-weight: normal;
   color: white;
   cursor: pointer;
}

.background {
   width: 430px;
   height: 520px;
   position: absolute;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 50%;
}

.background .shape {
   height: 200px;
   width: 200px;
   position: absolute;
   border-radius: 50%;
}

.shape:first-child {
   background: linear-gradient(#1845ad,
         #23a2f6);
   left: -80px;
   top: -80px;
}

.shape:last-child {
   background: linear-gradient(to right,
         #ff512f,
         #f09819);
   right: -30px;
   bottom: -80px;
}

.login-container {
   height: 520px;
   width: 400px;
   background-color: rgba(255, 255, 255, 0.13);
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   border-radius: 10px;
   backdrop-filter: blur(10px);
   border: 2px solid rgba(255, 255, 255, 0.1);
   box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
   padding: 50px 35px;
}

.login-container * {
   font-family: 'Poppins', sans-serif;
   color: #ffffff;
   letter-spacing: 0.5px;
   outline: none;
   border: none;
}

.login-container>h3 {
   font-size: 32px;
   font-weight: 500;
   line-height: 42px;
   text-align: center;
}

label {
   display: block;
   margin-top: 30px;
   font-size: 16px;
   font-weight: 500;
}

input {
   display: block;
   height: 50px;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.07);
   border-radius: 3px;
   padding: 0 10px;
   margin-top: 8px;
   font-size: 14px;
   font-weight: 300;
}

::placeholder {
   color: #e5e5e5;
}

.login-container>button {
   margin-top: 25px;
   width: 100%;
   background-color: #ffffff;
   color: #fff;
   padding: 15px 0;
   font-size: 18px;
   font-weight: 600;
   border-radius: 5px;
   cursor: pointer;
}

.login>h1 {
   position: absolute;
   left: 50%;
   top: 3%;
   transform: translate(-50%, -30%);
   font-family: 'JetBrains Mono', monospace;
   font-style: normal;
   font-weight: 400;
   font-size: 50px;
   line-height: 169px;
   color: #FFFFFF;
}

.login>p {
   position: absolute;
   width: 401px;
   height: 34px;
   left: 51%;
   top: 11%;
   transform: translate(-50%, -10%);
   font-family: 'JetBrains Mono', monospace;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 26px;
   color: #FFFFFF;
}

/*** Home */
.homepage {
   position: relative;
   overflow-y: hidden;
   height: 100vh;
   width: 100vw;
}

video {
   width: 100vw;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}

.navbar a {
   font-family: 'JetBrains Mono', monospace;
}

.addNoteButton {
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
   margin-bottom: auto;
   display: block;
   top: 10px;
   outline: none;
   border: none;
   width: 400px;
   height: 50px;
   font-size: 25px;
   padding: 5px 20px;
}

.note-table {
   background-color: #fff;
}

.editor {
   background-color: rgb(255, 255, 255);
   min-height: 500px;
}

.editor .ql-container {
   min-height: 500px;
}

.content {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.clock>h1{
   color: #FFFFFF;
}

.weather{
   color: #FFFFFF;
}
   